@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #FBFBFB;
    --black-color: #000000;
    --primary-color: #48A30012;
    --secondary-color: #2ecc71;
    --third-color: #48a300;
    --font-size: 16px;
    --font-family: 'Poppins', sans-serif;
    --font-color: #858585;
}


body {
    background-color: var(--primary-color);
    font-family: var(--font-family);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 16px; */
    padding: 0 16px 32px;
}

.title {
    color: #61481C;
    font-size: 4rem;
    text-align: center;
    padding-bottom: 0.9rem;
}

.headTextChangeColour {
    color: var(--third-color);
}

.form-container {
    background-color: var(--white-color);
    width: 660px;
    margin-inline: auto;
    border-radius: 15px;
    padding: 32px 42px;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
}

.sun-icon {
    vertical-align: middle;
    margin-left: 1rem;
}

.progress-label {
    font-size: 14px;
    color: var(--font-color);
    margin-bottom: 20px;
}

.progress-bar {
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 15px;
    margin-bottom: 42px;
}

.progress-value {
    height: 100%;
    width: 0;
    background-color: var(--third-color);
    border-radius: 15px;
    font-weight: 500;
    font-size: 10px;
    color: #eeffe0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.progress-value span {
    padding-left: 20px;
}

.error-label {
    font-size: 12px;
    color: #ff5151;
    margin-top: 4px;
    display: none;
}

.show-error .error-label {
    display: block;
}

.add-goal-container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 17px;
    height: 82px;
    display: flex;
    align-items: center;
    padding: 0 22px;
    background-color: #ffffff;
    margin-bottom: 42px;
}

.custom-checkbox {
    width: 24px;
    height: 24px;
    border: 2px solid #61481c4d;
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-icon {
    display: none;
}

.goal-input {
    border: none;
    outline: none;
    padding-left: 22px;
    font-family: inherit;
    font-size: 16px;
    align-self: stretch;
    width: 100%;
    font-weight: 500;
}

.goal-input::placeholder {
    color: #d9d9d9;
}

.quote, .caption{
    text-align: center;
    font-weight: 500;
}

.caption {
    font-size: 10px;
    color: var(--font-color);
    margin-top: 64px;
}

.completed .custom-checkbox {
    background: var(--third-color);
    border-color: var(--third-color);
}

.completed .check-icon {
    display: block;
}

.completed .goal-input {
    color: var(--third-color);
    text-decoration-line: line-through;
}

@media (max-width: 768px) {
    .title {
        font-size: 32px;
    }

    .form-container {
        padding: 16px 32px;
    }

    .add-goal-container {
        height: 64px;
        margin-bottom: 24px;
        border-radius: 12px;
    }

    .custom-checkbox {
        width: 20px;
        height: 20px;
    }

    .caption {
        margin-top: 32px;
    }

    .progress-bar {
        height: 24px;
    }
}